{
  "extends": [
    // Базовый набор правил eslint
    "eslint:recommended",
    // Правила Airbnb
    "airbnb-typescript",
    // Правила FSD
    "plugin:fsd/all"
  ],
  "rules": {
    "max-len": [
      "error",
      {
        "code": 120
      }
    ],
    "no-underscore-dangle": 0
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "tsconfig.json",
    "tsconfigRootDir": "."
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "env": {
    "browser": true,
    "es6": true
  }
}