{
  "extends": [
    // Базовый набор правил eslint
    "eslint:recommended",
    // Отключаем правила из базового набора
    // "plugin:@typescript-eslint/eslint-recommended",
    // Базовые правила для TypeScript
    // "plugin:@typescript-eslint/recommended",
    // Правила TS, требующие инфо о типах
    // "plugin:@typescript-eslint/recommended-requiring-type-checking",
    // Правила Airbnb
    "airbnb-typescript",
    // Правила FSD
    "plugin:fsd/all"
  ],
  "rules": {
    "max-len": [
      "error",
      {
        "code": 120
      }
    ],
    "no-underscore-dangle": 0
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "tsconfig.json",
    "tsconfigRootDir": "."
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "env": {
    "browser": true,
    "es6": true
  }
}