.abacus{
	position: relative;
	display: block;
	height: 10px;
	background-color: gold;

	&,
	*{
		box-sizing: border-box;
	}

	.abacus__handle{
		display: inline-block;
		width: 10px;
		height: 20px;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translate(-50%, -50%);
		background-color: silver;
	}

	&:not(.abacus_disabled){
		&,
		.abacus__handle{
			cursor: pointer;
		}
	}
}